<% @content_reviews.each do |content_review| %>
<div>
  <!--投稿の詳細ページに遷移-->
  <%#= link_to edit_admin_content_review_path(content_review.id) do %>
    <%= image_tag content_review.get_image %>
  <%# end %>

      
  <!--全ての投稿一覧-->
  <p>投稿ユーザー画像:<%= image_tag content_review.user.get_profile_image(100,100) %></p>
  
  <p>タイトル:<%= content_review.title %></p>
  <p>入手ルート:<%= content_review.get_root %></p>
  <p>購入金額:<%= content_review.price %></p>
  <p>説明文:<%= content_review.explanation %></p>
  <p>ユーザーネーム:<%= content_review.user.name %></p>
  <%= link_to "削除", admin_content_review_path(content_review), method: :delete %>
</div>
<% end %>

<!--ログインしているユーザーのみの投稿データ編集と削除機能-->
  <%# if @content_review.user != current_user %>
  <%# end %>