

<% content_reviews.each do |content_review| %>
  
<div>
  <!--投稿の詳細ページに遷移-->
  <%= link_to content_review_path(content_review.id) do %>
    <%= image_tag content_review.get_image, size: "200x200" %>
  <% end %>

      
  <!--全ての投稿一覧-->
  <% if user_signed_in? %>
  <!--<p>投稿ユーザー画像:<%#= image_tag content_review.user.get_profile_image(100,100) %></p>-->
  <p>タイトル:<%= content_review.title %></p>
  <p>入手ルート:<%= content_review.get_root %></p>
  <p>購入金額:<%= content_review.price %></p>
  <p>説明文:<%= content_review.explanation %></p>
  <p>ユーザーネーム:<%= content_review.user.name %></p>
  <%= render 'content_reviews/static_rate', content_review: content_review %>
  <p><%= link_to "#{content_review.content_comments.count} コメント", content_review_path(content_review.id) %></p>
</div>
  <% elsif admin_signed_in? %>
  <p>投稿ユーザー画像:<%= image_tag content_review.user.get_profile_image(100,100) %></p>
  <p>タイトル:<%= content_review.title %></p>
  <p>入手ルート:<%= content_review.get_root %></p>
  <p>購入金額:<%= content_review.price %></p>
  <p>説明文:<%= content_review.explanation %></p>
  <p>ユーザーネーム:<%= content_review.user.name %></p>
  <%= link_to "コメントを確認", admin_content_review_path(content_review.id) %>
  <% end %>


<% end %>

  