<div id="rate_<%= content_review %>"></div>
<script>
$(document).on('turbolinks:load', function() {
    let raty_<%= content_review.id %> = document.querySelector('#rate_<%= content_review.id %>');
    rate_<%= content_review.id %>.innerHTML = ""
    let option_<%= content_review.id %> = {  
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        score: "<%= content_review.rate %>",
        readOnly: true,
      };
    raty(raty_<%= content_review.id %> ,option_<%= content_review.id %>);
});
</script>
