<% @content_reviews.each do |content_review| %>
<div>
  <%= link_to content_review_path(content_review.id) do %>
    <%= image_tag content_review.get_image %>
  <% end %>


  <%= image_tag content_review.get_image %>
  <p>投稿ユーザー画像:<%= image_tag 'sample-author1.jpg' %></p>
  <p>タイトル:<%= content_review.title %></p>
  <p>入手ルート:<%= content_review.get_root %></p>
  <p>購入金額:<%= content_review.price %></p>
  <p>説明文:<%= content_review.explanation %></p>
  <p>ユーザーネーム:<%= content_review.user.name %></p>
</div>
<% end %>