<h1>レビューフォーム</h1>
  
  <!--バリデーションのエラーメッセージ表示-->
  <% if @content_review.errors.any? %>
  <%= @content_review.errors.count %>点の記入漏れがあります
  <ul>
    <% @content_review.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
  
  
  <!--新規投稿するフォーム-->
  <%= form_with model: @content_review do |f| %>
    <div class="col-xs-6">
      <div class="form-group">
      <table class="table table-bordered table-hover">
        <tr>
          <th><%= f.label :タイトル%></th>
          <th><%= f.text_field :title %></th>
      </div>
        </tr>
        
        <tr>
        <div class="form-group">
          <th><%= f.label :画像 %></th>
          <th><%= f.file_field :image, accept: "image/*" %></th>
        </div>
        </tr>
        
        <tr>
        <div class="form-group">
          <th><%= f.label :入手ルート %></th>
          <th><%= f.text_field :get_root %></th>
        </div>
        </tr>
        
        <tr>
        <div class="form-group">
          <th><%= f.label :購入金額 %></th>
          <th><%= f.text_field :price %></th>
        </div>
        </tr>
        
        <tr>
        <div class="form-group">
          <th><%= f.label :説明文 %></th>
          <th><%= f.text_area :explanation %>
            <div class="row ml-1">
              <p>評価:</P>
                <div class="col-md-3 position-static">
                  <div id="post_raty"></div>
                </div>
              <script>
                var elem = document.getElementById('post_raty');
                var opt = {  
                starOn: "<%= asset_path('star-on.png') %>",
                starOff: "<%= asset_path('star-off.png') %>",
                starHalf: "<%= asset_path('star-half.png') %>",
                };
                raty(elem,opt);
              </script>
            </div>
        
    <%= f.submit '投稿' %>
  <% end %>
          </th>
        </tr>
      </table>
    </div>