<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-5">
        <%= form_with model: @admin, url: admin_session_path do |f| %>
          <div class="field offset-4">
            <%= f.label :メールアドレス %><br />
            <p class="control has-icons-left">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'form-control col-6' %>
          </div>

          <div class="field offset-4">
            <%= f.label :パスワード %><br />
            <p class="control has-icons-left">
              <%= f.password_field :password, autocomplete: "current-password", class:'form-control col-6' %>
          </div>
            <div class="actions offset-4">
              <%= f.submit "Log in", class: "btn is-success" %>
            </div>
            <% end %>
            <%= render "admin/shared/links" %>
  



